---
import { Icon } from 'astro-icon/components'
import ExperienceCard from './experiences/ExperienceCard.astro'

import jobs from '../../data/jobs.ts'

interface Job {
  title: string
  company: string
  location: string
  dates: string
  description: Array<string>
}
---

<section id="experience">
  <div id="experience-container">
    <h2>Professional Experience</h2>
    <div id="timeline">
      <div id="bar"></div>
      <div id="nothing"></div>
      <ul id="jobs">
        {
          jobs.slice(0, -1).map((job: Job) => (
            <li>
              <Icon class="li-dots" name="briefcase" />
              <ExperienceCard
                class="job-card"
                title={job.title}
                company={job.company}
                location={job.location}
                dates={job.dates}
                description={job.description}
              />
            </li>
          ))
        }
      </ul>
      <div id="last-job">
        <ul>
          <li>
            <Icon class="li-dots" name="briefcase" />
            <ExperienceCard
              title={jobs[jobs.length - 1].title}
              company={jobs[jobs.length - 1].company}
              location={jobs[jobs.length - 1].location}
              dates={jobs[jobs.length - 1].dates}
              description={jobs[jobs.length - 1].description}
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<style>
  #experience-container {
    overflow: hidden;
    @media (min-width: 480px) {
      max-width: var(--max-screen-width);
    }
  }

  #timeline {
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-areas:
      'bar jobs'
      'nothing last-job';
  }

  ul {
    margin: 0 -22px;
    padding: 0 0px;
  }

  li {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  #bar {
    margin-top: 26px;
    grid-area: bar;
    width: 4px;
    height: 100%;
    background: var(--screaming-green);
    display: none;
    @media (min-width: 720px) {
      display: block;
    }
  }

  #jobs {
    grid-area: jobs;
  }

  #last-job {
    grid-area: last-job;
  }

  #nothing {
    grid-area: nothing;
    width: 4px;
  }

  .li-dots {
    padding: 12px;
    background: var(--seablue);
    border-radius: 100%;
    display: none;
    @media (min-width: 720px) {
      display: block;
    }
  }
</style>

<script>
  import { gsap } from 'gsap'
  import { ScrollTrigger } from 'gsap/ScrollTrigger'

  gsap.registerPlugin(ScrollTrigger)

  gsap.from('.job-card', {
    duration: 1,
    x: 500,
    autoAlpha: 0,
    stagger: 1,
    ease: 'power2.out',
    scrollTrigger: {
      scrub: true,
      trigger: '.job-card',
      start: 'top 90%',
      end: 'bottom 60%',
    },
  })
</script>
