---
import ProjectCard from './projects/ProjectCard.astro'

import projectsList from '../../data/projects.ts'

interface Project {
  title: string
  githubLink?: string
  liveLink: string
  imageUrl: string
  description: string
  techs?: Array<string>
}
---

<section id="projects">
  <div id="projects-container">
    <h2>Featured Projects</h2>
    <div id="project-cards-wrapper">
      {
        projectsList.map((project: Project, index: number) => (
          <ProjectCard
            title={project.title}
            githubLink={project.githubLink}
            liveLink={project.liveLink}
            imageUrl={project.imageUrl}
            description={project.description}
            techs={project.techs}
          />
        ))
      }
    </div>
  </div>
</section>

<style>
  #projects {
    width: 100%;
    background: var(--navy);
    border: 2px solid var(--background-lines);
    padding-bottom: 1rem;
  }

  #projects-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
  }

  #project-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
</style>
