---
import ProjectCard from './projects/ProjectCard.astro'

import projectsList from '../../data/projects.ts'

interface Project {
  title: string
  githubLink: string
  liveLink: string
  imageUrl: string
  description: string
  techs: Array<string>
  right?: boolean
}
---

<section id="projects">
  <div id="projects-container">
    <h2>Featured Projects</h2>
    <div>
      {
        projectsList.map((project: Project) => (
          <ProjectCard
            title={project.title}
            githubLink={project.githubLink}
            liveLink={project.liveLink}
            imageUrl={project.imageUrl}
            description={project.description}
            techs={project.techs}
            right={project.right}
          />
        ))
      }
    </div>
  </div>
</section>

<style>
  #projects {
    width: 100%;
    background: var(--navy);
    padding-bottom: 4rem;
    border: 2px solid var(--background-lines);
  }
  #projects-container {
    @media (min-width: 480px) {
      max-width: 1024px;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
</style>
