---
import { Icon } from 'astro-icon/components'

const { titulation, entity, date, image } = Astro.props

const imageUrl = `images/certificates/${image}.avif`
---

<article class="certificate-card">
  <a href={imageUrl} target="_blank" rel="noopener noreferrer">
    <img
      id="certificate-icon"
      src="images/certificate.avif"
      alt="Icon representing the certificate"
    />
    <h3>
      {titulation}
    </h3>
    <span>
      <Icon name="school" class="icon" />
      {entity}
    </span>
    <span>
      <Icon name="calendar" class="icon" />
      {date}</span
    >
    <!-- pending hover effect to show the certificate better -->
    <!--<img
      id="certificate-img"
      src={imageUrl}
      alt=`Titulation that acredites that Ot Roca (otrocadev) obtained the certificate ${titulation}`
    /> -->
  </a>
</article>

<style scoped>
  article {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 4 / 3;
    display: flex;
    border-radius: 1rem;
    background: var(--richblack);
    border: 2px var(--seablue) solid;
  }

  a {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
  }

  #certificate-icon {
    width: 100%;
    height: auto;
    max-width: 80px;
    margin-top: -60px;
  }

  h3 {
    font-size: 20px;
    margin: 0.4rem 0;
    @media (max-width: 720px) {
      font-size: 16px;
    }
  }

  span {
    font-size: 16px;
    gap: 0.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Inconsolata', monospace, serif;
    color: var(--slate-gray);
    margin: 0.2rem 0;
  }

  #certificate-img {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    opacity: 1;
    border-radius: 1rem;
  }
</style>
