---
import { Icon } from 'astro-icon/components'

const { titulation, entity, date, location, image } = Astro.props

const imageUrl = `images/${image}`
---

<article class="titulation-card">
  <img src={imageUrl} alt=`Icon representing the ${titulation}` />
  <h3>{titulation}</h3>
  <span>{entity}</span>
  <span>{date}</span>
  <span>
    <Icon name="map-pin" />
    {location}
  </span>
  <p>
    <slot />
  </p>
</article>

<style scoped>
  article {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 80%;
    background: var(--richblack);
    border-radius: 1rem;
    padding: 2rem;
    border: 2px var(--seablue) solid;
  }

  article:hover,
  article:active {
    border-color: var(--slate-gray);
  }

  h3 {
    font-size: 24px;
    margin: 1rem 0;
  }

  span {
    font-size: 16px;
    color: var(--slate-gray);
    margin-bottom: 0.4rem;
  }

  img {
    width: 100%;
    max-width: 150px;
    margin-top: -80px;
  }
</style>
