---
const {
  title,
  githubLink,
  liveLink,
  imageUrl,
  description,
  techs,
  right = false,
} = Astro.props
import Tecnologies from './Tecnologies.astro'
---

<article class={right ? 'project-card right-image' : 'project-card left-image'}>
  <img src=`/images/${imageUrl}` alt=`Screenshot of the project ${title}` />
  <div class="card-info">
    <h3>{title}</h3>
    <p>
      {description}
    </p>
    <Tecnologies techs={techs} />
    <div id="btns">
      <a
        class="secondary-btn"
        href={githubLink}
        target="_blank"
        rel="noopener noreferrer">Github code</a
      >
      <a
        class="primary-btn"
        href={liveLink}
        target="_blank"
        rel="noopener noreferrer"
      >
        Live demo
      </a>
    </div>
  </div>
</article>

<style>
  .project-card {
    display: grid;
    background: var(--seablue);
    grid-template-rows: 1fr 1fr;
    border-radius: 1rem;
    overflow: hidden;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 5fr;
    margin: auto 2rem;
    font-size: 16px;
    grid-template-areas:
      'image'
      'text';
  }
  .left-image {
    transition: all 300ms ease-in-out;
    @media (min-width: 720px) {
      grid-template-columns: 4fr 5fr;
      grid-template-rows: 1fr;
      grid-template-areas: 'image text';
    }
  }

  .left-image:hover,
  .left-image:active {
    transform: rotate(-1deg) translateY(-12px) scale(1.01);
    box-shadow: 0px 5px 10px 0px var(--seablue);
  }

  .right-image {
    transition: all 300ms ease-in-out;
    @media (min-width: 720px) {
      grid-template-columns: 5fr 4fr;
      grid-template-rows: 1fr;
      grid-template-areas: 'text image';
    }
  }

  .right-image:hover,
  .right-image:active {
    transform: rotate(1deg) translateY(-12px) scale(1.01);
    box-shadow: 0px 5px 10px 0px var(--seablue);
  }

  .card-info {
    grid-area: text;
    margin: 1.6rem;
    @media (min-width: 720px) {
      margin: 3rem;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: image;
  }

  #btns {
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
</style>
